<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body class="data">
  <%- include('./partials/navigation'); -%>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="navbar-nav mr-auto" style="width: 100%;">
      <div class="dropdown" style="width: 100%;">
        <button style="width: 100%; text-align: left;" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Go To Region
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/data">All Regions</a>
          <a class="dropdown-item" href="/data/global">World</a>
          <a class="dropdown-item" href="/data/usa">USA</a>
          <a class="dropdown-item" href="/data/europe">Europe</a>
          <a class="dropdown-item" href="/data/asia">Asia</a>
          <a class="dropdown-item" href="/data/africa">Africa</a>
          <a class="dropdown-item" href="/data/latinamerica">Latin America</a>
          <a class="dropdown-item" href="/data/china">China</a>
          <a class="dropdown-item" href="/data/canada">Canada</a>
          <a class="dropdown-item" href="/data/australia">Australia</a>
          <a class="dropdown-item" href="/data/oceania">Oceania</a>
          <a class="dropdown-item" href="/data/south-america">South America</a>
          <a class="dropdown-item" href="/data/north-america">North America</a>
          <a class="dropdown-item" href="/data/middle-east">Middle East</a>
        </div>
      </div>

      <div class="mobile-nav-legend sort-copy">
        <div class="mobile-nav-legend-label name">
          <span class="legend-label">Sort by:&nbsp;&nbsp;&nbsp;</span>
        </div>
      </div>

      <div id="mobile-nav-legend_saved" class="mobile-nav-legend">
        <div data-region="saved" data-action="name" class="cateogry_sort mobile-nav-legend-item">
          <span class="legend-marker name">&#8226;</span>
          <span class="legend-label">Name</span>
        </div>
        <div class="mobile-nav-legend-items">
          <div data-region="saved" data-action="confirmed" class="cateogry_sort mobile-nav-legend-item">
            <span class="legend-marker confirmed">&#8226;</span>
            <span class="legend-label sorted-column--desc">Cases</span>
          </div>
          <div data-region="saved" data-action="deaths" class="cateogry_sort mobile-nav-legend-item">
            <span class="legend-marker deceased">&#8226;</span>
            <span class="legend-label">Deaths</span>
          </div>
          <div data-region="saved" data-action="recovered" class="cateogry_sort mobile-nav-legend-item">
            <span class="legend-marker recovered">&#8226;</span>
            <span class="legend-label">Recovered</span>
          </div>
        </div>
      </div>

      <% data.allRegions.forEach(function(region, index){ %>

      <div id="mobile-nav-legend_<%= region.slug %>" class="mobile-nav-legend">
        <div data-region="<%= region %>" data-action="name" class="cateogry_sort mobile-nav-legend-item">
          <span class="legend-marker name">&#8226;</span>
          <span class="legend-label">Name</span>
        </div>
        <div class="mobile-nav-legend-items">
          <div data-region="<%= region.slug %>" data-action="confirmed" class="cateogry_sort mobile-nav-legend-item">
            <span class="legend-marker confirmed">&#8226;</span>
            <span class="legend-label sorted-column--desc">Cases</span>
          </div>
          <div data-region="<%= region.slug %>" data-action="deaths" class="cateogry_sort mobile-nav-legend-item">
            <span class="legend-marker deceased">&#8226;</span>
            <span class="legend-label">Deaths</span>
          </div>
          <div data-region="<%= region.slug %>" data-action="recovered" class="cateogry_sort mobile-nav-legend-item">
            <span class="legend-marker recovered">&#8226;</span>
            <span class="legend-label">Recovered</span>
          </div>
        </div>
      </div>

      <div id="mobile-nav-total_<%= region.slug %>" class="mobile-nav-legend totals">
        <div class="mobile-nav-legend-label name">
          <span class="legend-label">TOTAL&nbsp;&nbsp;&nbsp;</span>
        </div>

        <div class="mobile-nav-legend-items">
          <div class="mobile-nav-legend-item">
            <span class="legend-label confirmed"><%= data[region.slug].regionTotal.cases %></span>
          </div>
          <div class="mobile-nav-legend-item">
            <span class="legend-label deceased"><%= data[region.slug].regionTotal.deaths %></span>
          </div>
          <div class="mobile-nav-legend-item">
            <span class="legend-label recovered"><%= data[region.slug].regionTotal.recovered %> (<%= data[region.slug].recoveryRate %>%)</span>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </nav>
  <div class="content container-fluid">
    <div class="row">
    <% data.allRegions.forEach(function(region, index){ %>
      <div class="col col-lg-3">
        <div class="container--wrap hide-mobile">
          <h2 class="sorted-table__header" style="padding-bottom: 35px; text-align: center;"><%= region.name %> <br/>COVID-19 Stats</h2>
        </div>
        <span id="QuickFacts" class="mobile-dropdown-anchor"></span>
        <div class="container--wrap hide-mobile">
          <p style="color: #DFDFEF; font-size: 30px; text-align: center; padding-top: 15px; font-weight: bolder; margin-bottom: 10px;">
            Go To Region</p>
          <a class="sidebar-item" href="/data">All Regions</a>
          <a class="sidebar-item" href="/data/global">World</a>
          <a class="sidebar-item" href="/data/usa">USA</a>
          <a class="sidebar-item" href="/data/europe">Europe</a>
          <a class="sidebar-item" href="/data/asia">Asia</a>
          <a class="sidebar-item" href="/data/africa">Africa</a>
          <a class="sidebar-item" href="/data/latinamerica">Latin America</a>
          <a class="sidebar-item" href="/data/china">China</a>
          <a class="sidebar-item" href="/data/canada">Canada</a>
          <a class="sidebar-item" href="/data/australia">Australia</a>
          <a class="sidebar-item" href="/data/oceania">Oceania</a>
          <a class="sidebar-item" href="/data/south-america">South America</a>
          <a class="sidebar-item" href="/data/north-america">North America</a>
          <a class="sidebar-item" href="/data/middle-east">Middle East</a>
        </div>
      </div>

      <div class="col col-lg-9 tables">
        <div class="row m-0">
          <div id="container_saved" class="container--wrap col hide-mobile" style="display: none;">
            <div class="sorted-table__header">
              <div class="sorted-table__container">
                <h2>Saved</h2>
              </div>
            </div>
            <table id="sortable_table_saved" class="saved-table display compact responsive" style="width: 100%">
              <thead>
                <tr>
                  <th class="text--gray">Name</th>
                  <th class="text--gray">Confirmed</th>
                  <th class="text--gray">Changes Today</th>
                  <th class="text--gray">Percentage Day Change</th>
                  <th class="text--gray">Deceased</th>
                  <th class="text--gray">Changes Today</th>
                  <th class="text--gray">Percentage Death Change</th>
                  <th class="text--gray">Recovered</th>
                  <th class="text--gray">Serious</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <div id="container_mobile_saved" class="container--wrap col hide-desktop" style="display: none;">
            <div class="sorted-table__header">
              <div class="sorted-table__container">
                <h2>Saved</h2>
              </div>
            </div>
            <table id="sortable_table_mobile_saved" class="saved-table display compact responsive">
              <thead>
                <tr>
                  <th class="text--gray" data-action="save">o</th>
                  <th class="text--gray" data-action="name">o</th>
                  <th class="text--gray" data-action="confirmed">o</th>
                  <th class="text--gray" data-action="caseRate">o</th>
                  <th class="text--gray" data-action="deaths">o</th>
                  <th class="text--gray" data-action="deathRate">o</th>
                  <th class="text--gray" data-action="recovered">o</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <div id="container_<%= region.slug %>" class="container--wrap hide-mobile" style="width: 100%; padding: 0px 15px;">
            <div class="sorted-table__header">
              <div class="sorted-table__container">
                <h2><%= region.name %> COVID-19 Stats</h2>
              </div>

              <div class="recovery-meter-container">
                <span class="recovery-meter-label">
                  Recovered:
                </span>
                <span class="recovery-meter">
                  <span class="recovery-meter-stat">
                    <%= data[region.slug].recoveryRate %>%
                  </span>
                  <span class="recovery-meter-progress" style="width: <%= data[region.slug].recoveryRate %>%">
                    &nbsp;
                  </span>
                </span>
              </div>
            </div>
            <table id="sortable_table_<%= region.slug %>" class="display compact responsive" style="width: 100%">
              <thead>
                <tr>
                  <th class="text--gray">Name</th>
                  <th class="text--gray">Confirmed</th>
                  <th class="text--gray">Changes Today</th>
                  <th class="text--gray">Percentage Day Change</th>
                  <th class="text--gray">Deceased</th>
                  <th class="text--gray">Changes Today</th>
                  <th class="text--gray">Percentage Death Change</th>
                  <th class="text--gray">Recovered</th>
                  <th class="text--gray">Serious</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text--gray">
                    TOTAL
                  </td>
                  <td class="text--green">
                    <%= data[region.slug].regionTotal.cases %>
                  </td>
                  <td class="text--green">
                    <%= data[region.slug].regionTotal.todayCases %>
                  </td>
                  <td class="text--green">
                    <%= data[region.slug].regionTotal.todayCaseRate %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regionTotal.deaths %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regionTotal.todayDeaths %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regionTotal.todayDeathRate %>
                  </td>
                  <td class="text--blue">
                    <%= data[region.slug].regionTotal.recovered %>
                  </td>
                  <td class="text--yellow">
                    <%= data[region.slug].regionTotal.serious %>
                  </td>
                </tr>
                <% for( let i = 0; i < data[region.slug].regions.length; i++ ) { %>
                <% if (data[region.slug].regions[i].country != "Wuhan") { %>
                <% if (data[region.slug].regions[i].country != "Queue") { %>
                <% if (data[region.slug].regions[i].country != "TBD") { %>
                <tr>
                  <td class="text--gray">
                    <% if (region.slug === "USA") { %>
                    <span class="save-button" data-status="unselected" data-type="state" data-name="<%= data[region.slug].regions[i].country %>">&#9733;</span>
                    <%} else { %>
                    <span class="save-button" data-status="unselected" data-type="country" data-name="<%= data[region.slug].regions[i].country %>">&#9733;</span>
                    <% } %>
                    <%= data[region.slug].regions[i].country %>
                  </td>

                  <td class="text--green">
                    <%= data[region.slug].regions[i].cases %>
                  </td>

                  <td class="text--green">
                    <%= data[region.slug].regions[i].todayCases %>
                  </td>

                  <td class="text--green">
                    <%= data[region.slug].regions[i].todayCaseRate %>
                  </td>

                  <td class="text--red">
                    <%= data[region.slug].regions[i].deaths %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regions[i].todayDeaths %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regions[i].todayDeathRate %>
                  </td>
                  <td class="text--blue">
                    <%= data[region.slug].regions[i].recovered %>
                  </td>
                  <td class="text--yellow">
                    <%= data[region.slug].regions[i].serious %>
                  </td>
                </tr>
                <% } %>
                <% } %>
                <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
          <% if ( index % 2 === 1 ) { %>
          <div class="w-100"></div>
          <% } %>
          <% }) %>

          <% if ( data.allRegions.length % 2 !== 0) { %>
          <div class="col row-wrapper">
            &nbsp;
          </div>
          <% } %>

          <% data.allRegions.forEach(function(region, index){ %>
          <div id="container_mobile_<%= region.slug %>" class="container--wrap col hide-desktop">
            <div class="sorted-table__header">
              <span id="<%= region.slug %>" class="mobile-dropdown-anchor"></span>

              <div class="sorted-table__container">
                <h2><%= region.name %></h2>
              </div>

              <div class="recovery-meter-container">
                <span class="recovery-meter-label">
                  Recovered:
                </span>
                <span class="recovery-meter">
                  <span class="recovery-meter-stat">
                    <%= data[region.slug].recoveryRate %>%
                  </span>
                  <span class="recovery-meter-progress" style="width: <%= data[region.slug].recoveryRate %>%">
                    &nbsp;
                  </span>
                </span>
              </div>
            </div>
            <table id="sortable_table_mobile_<%= data[region.slug].slug %>" class="display compact responsive">
              <thead>
                <tr>
                  <th class="text--gray" data-action="save">o</th>
                  <th class="text--gray" data-action="name">o</th>
                  <th class="text--gray" data-action="confirmed">o</th>
                  <th class="text--gray" data-action="caseRate">o</th>
                  <th class="text--gray" data-action="deaths">o</th>
                  <th class="text--gray" data-action="deathRate">o</th>
                  <th class="text--gray" data-action="recovered">o</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    &nbsp;
                  </td>
                  <td class="text--gray">
                    TOTAL
                  </td>
                  <td class="text--green">
                    <%= data[region.slug].regionTotal.cases %>
                  </td>
                  <td class="text--green">
                    <%= data[region.slug].regionTotal.todayCaseRate %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regionTotal.deaths %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regionTotal.todayDeathRate %>
                  </td>
                  <td class="text--blue">
                    <%= data[region.slug].regionTotal.recovered %>
                  </td>
                </tr>
                <% for( let i = 0; i < data[region.slug].regions.length; i++ ) { %>
                <% if (data[region.slug].regions[i].country != "Wuhan") { %>
                <% if (data[region.slug].regions[i].country != "Queue") { %>
                <% if (data[region.slug].regions[i].country != "TBD") { %>
                <tr>
                  <td class="text--gray">
                    <% if (region === "USA") { %>
                    <span class="save-button" data-status="unselected" data-type="state" data-name="<%= data[region.slug].regions[i].country %>">&#9733;</span>
                    <%} else { %>
                    <span class="save-button" data-status="unselected" data-type="country" data-name="<%= data[region.slug].regions[i].country %>">&#9733;</span>
                    <% } %>
                  </td>
                  <td>
                    <%= data[region.slug].regions[i].country %>
                  </td>
                  <td class="text--green">
                    <%= data[region.slug].regions[i].cases %>
                  </td>
                  <td class="text--green">
                    <%= data[region.slug].regions[i].todayCaseRate %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regions[i].deaths %>
                  </td>
                  <td class="text--red">
                    <%= data[region.slug].regions[i].todayDeathRate %>
                  </td>
                  <td class="text--blue">
                    <%= data[region.slug].regions[i].recovered %>
                  </td>
                </tr>
                <% } %>
                <% } %>
                <% } %>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <% if ( index % 2 === 1 ) { %>

      <% } %>
      <% }) %>
    </div>
  </div>


  <%- include('./partials/scripts'); -%>

  <script>
    const mobileBreakpoint = 980;
    const config = {
      responsive: {
        details: false
      },
      data: null,
      "scrollCollapse": true,
      "language": {
        "search": "&#128269;",
        "searchPlaceholder": "search data"
      },
      "autoWidth": true,
      "bInfo": false,
      "bPaginate": false,
      "order": [
        [1, "desc"]
      ],
      "columnDefs": [{
          responsivePriority: 2,
          targets: 1
        },
        {
          "targets": [3, 6],
          "visible": false,
          "searchable": false
        }
      ],
      "columns": [{
          data: "country",
          "width": "20%",
          className: 'text--gray'
        },
        {
          data: "cases",
          className: 'text--green'
        },
        {
          data: "caseRateCopy",
          className: 'text--green',
          render: (data, type, row) => {
            if (data === "0" || row.caseRate === "0.00" || row.caseRate === "0") return '';
            if (type === "display") return `&#8593; ${data} (${row.caseRate}%)`
            return data;
          }
        },
        {
          data: "caseRate",
          className: 'text--green',
        },
        {
          data: "deaths",
          className: 'text--red',
        },
        {
          data: "deathRateCopy",
          className: 'text--red',
          render: (data, type, row) => {
            if (data === "0" || row.deathRate === "0.00" || row.deathRate === "0") return '';
            if (type === "display") return `&#8593; ${data} (${row.deathRate}%)`
            return data;
          }
        },
        {
          data: "deathRate",
          className: 'text--red'
        },
        {
          data: "recovered",
          className: 'text--blue'
        },
        {
          data: "serious",
          className: 'text--yellow'
        }
      ]
    }

    const hideDayDataConfig = {config};
    hideDayDataConfig["columnDefs"] = [{
        responsivePriority: 2,
        targets: 1
      },
      {
        "targets": [2, 3, 5, 6],
        "visible": false,
        "searchable": false
      }
    ]

    const mobileConfig = {
      responsive: {
        details: false
      },
      "ordering": true,
      "scrollCollapse": true,
      "language": {
        "search": "&#128269;",
        "searchPlaceholder": "search data"
      },
      "autoWidth": false,
      "bInfo": false,
      "bPaginate": false,
      "order": [
        [2, "desc"]
      ],

      "columnDefs": [{
          width: 50,
          targets: 1
        },
        {
          "targets": [3, 5],
          "visible": false,
          "searchable": false
        }
      ],
      "columns": [{
          data: "saved",
          "width": "1px"
        },
        {
          data: "country",
          className: 'text--gray',
          "width": "70px"
        },
        {
          data: "cases",
          className: 'text--green',
          render: (data, type, row) => {
            if (data === "0" || row.caseRate === "0.00") return '';
            if (type === "display" && row.caseRate !== "0") return `${data} <br/> &#8593; ${row.caseRate}%`
            return data;
          }
        },
        {
          data: "caseRate",
          className: 'text--green',
        },
        {
          data: "deaths",
          className: 'text--red',
          render: (data, type, row) => {
            if (data === "0" || row.deathRate === "0.00") return '';
            if (type === "display" && row.deathRate !== "0") return `${data} <br/> &#8593; ${row.deathRate}%`
            return data;
          }
        },
        {
          data: "deathRate",
          className: 'text--red',
        },
        {
          data: "recovered",
          className: 'text--blue'
        }
      ]
    }

    $(document).ready(function() {
      var allSlugs = <%- JSON.stringify(data.allSlugs) %>
      var allRegions = <%- JSON.stringify(data.allRegions) %>

      allSlugs.map(region => {
        $(`#sortable_table_${region}`).DataTable(config);
        $(`#sortable_table_mobile_${region}`).DataTable(mobileConfig);
      })

      var savedTable = $('#sortable_table_saved').DataTable(config);
      var savedMobileTable = $('#sortable_table_mobile_saved').DataTable(mobileConfig);

      var activeSavedTable = function() {
        return $('#sortable_table_saved').is(':visible') ? savedTable : savedMobileTable
      }

      var activeSavedContainerId = function() {
        return $('#container_saved').is(':visible') ? '#container_saved' : '#container_mobile_saved'
      }

      var activeUSATable = function() {
        return $('#sortable_table_usa').is(':visible') ? '#sortable_table_usa' : '#sortable_table_mobile_usa'
      }

      var handleRemovingOwnRow = function(event) {
        event.preventDefault();
        if (!window.localStorage) return;

        var $currentRow = $(this).closest("tr");
        var $saveButton = $currentRow.find('.save-button');
        var rowData = {
          name: $saveButton.data('name'),
          type: $saveButton.data('type')
        }
        activeSavedTable().row($currentRow).remove().draw();
        $(`.save-button[data-name="${rowData.name}"][data-name="${rowData.name}"]`).attr("data-status", "unselected")

        removeRow(rowData)
      }

      var handleUnselectingSavedRow = function(event) {
        event.preventDefault();
        if (!window.localStorage) return;

        var $currentRow = $(this).closest("tr");
        var $saveButton = $currentRow.find('.save-button');
        var rowData = {
          name: $saveButton.data('name'),
          type: $saveButton.data('type')
        }
        var $targetRow = $(`.saved-table:visible [data-name="${rowData.name}"][data-name="${rowData.name}"]`).closest("tr")

        activeSavedTable().row($targetRow).remove().draw();

        $saveButton.attr('data-status', 'unselected')

        removeRow(rowData)
      }

      var handleSelectingSavedRow = function(event) {
        if (!window.localStorage) return;
        if (window.innerWidth >= mobileBreakpoint) {
          $('#container_saved').css({
            'display': 'block'
          })
        } else {
          $('#container_mobile_saved').css({
            'display': 'block'
          })
        }
        event.preventDefault();
        if (!window.localStorage) return;

        var $currentRow = $(this).closest("tr");
        var $currentTable = $(this).closest("table")
        var $saveButton = $currentRow.find('.save-button');

        var data = $currentTable.DataTable().row($currentRow).data();
        $saveButton.attr('data-status', 'selected')

        activeSavedTable().row.add(data).draw();
        saveRow({
          name: $saveButton.data('name'),
          type: $saveButton.data('type')
        })
      }
      $(".saved-table").on('click', '.save-button', handleRemovingOwnRow);
      $("table:not(.saved-table)").on('click', '.save-button[data-status="selected"]', handleUnselectingSavedRow);
      $("table:not(.saved-table)").on('click', '.save-button[data-status="unselected"]', handleSelectingSavedRow);

      var getSavedRows = function() {
        //TODO: Show message that says they can't save on their device?
        if (!window.localStorage) return;

        let data = JSON.parse(localStorage.getItem('germtracker'));
        if (data == null) data = [];

        return data;
      }

      var saveRow = function(rowData) {
        var savedRows = getSavedRows()
        var rowAlreadySaved = !!savedRows.filter(row => {
          return row.name === rowData.name && row.type === rowData.type
        }).length

        if (rowAlreadySaved) return

        savedRows.push(rowData)
        localStorage.setItem('germtracker', JSON.stringify(savedRows));
        if (getSavedRows().length) {
          $(activeSavedContainerId()).css({
            'display': 'block'
          })
        }
      }

      var removeRow = function(rowData) {
        var savedRows = getSavedRows()
        var remainingRows = savedRows.filter(row => {
          return row.name !== rowData.name
        })

        localStorage.setItem('germtracker', JSON.stringify(remainingRows));
        if (!getSavedRows().length) {
          $(activeSavedContainerId()).css({
            'display': 'none'
          })
        }
      }

      var addAllRows = function() {
        getSavedRows().forEach(row => {
          addRow(row)
        })
      }

      var addRow = function(rowData) {
        let prefix = ''
        if (rowData.type === "state") prefix += activeUSATable()

        $(`${prefix} [data-name="${rowData.name}"][data-name="${rowData.name}"]:visible`).first().click()
      }

      addAllRows();

      var $dropdownLabel = $('.dropdown-toggle');
      var $tableLegend = $('.mobile-nav-legend').first();
      var topPoistion = (region) => {
        return $('#container_mobile_' + region.slug).offset().top - 250
      }
      var showRegionTotal = (region, showTotalBar = true) => {
        $dropdownLabel.text(region.name);
        $('.show-element').removeClass('show-element')

        $('.sort-copy').addClass('show-element')
        $('#mobile-nav-legend_' + region.slug).addClass('show-element')
        if (showTotalBar) $('#mobile-nav-total_' + region.slug).addClass('show-element')
      }

      var handleCategorySort = function() {
        $('.cateogry_sort').on('click', function() {
          var action = $(this).data('action');
          var region = $(this).data('region');
          var $mobileTab = $(this).parents().find('#mobile-nav-legend_' + region)
          var $selector = $("#sortable_table_mobile_" + region + " [data-action='" + action + "']")

          $mobileTab.find('.sorted-column--desc').removeClass('sorted-column--desc');
          $mobileTab.find('.sorted-column--asc').removeClass('sorted-column--asc');
          $selector.click()

          var className = $selector.hasClass('sorting_desc') ? 'sorted-column--desc' : 'sorted-column--asc'

          $(this).find('.legend-label').addClass(className)
          $(window).scrollTop(topPoistion(region) + 110);
        })
      }

      handleCategorySort();

      if (!!window.scrollY) {
        $('nav.fixed-top').css({
          'margin-top': '0'
        });
      }

      $(window).scroll(function() {
        var scrollPosition = $(document).scrollTop()

        // Fix the Dropdwn Nav after main header scrolls.
        if ($(document).scrollTop() > 60) {
          $('nav.fixed-top').css({
            'margin-top': '0'
          });
        }

        if (scrollPosition > topPoistion(allRegions[0])) {
          showRegionTotal(allRegions[0])
        } else if (scrollPosition > 60) {
          handleCategorySort();
          $('.show-element').removeClass('show-element')
          $('nav.fixed-top').css({
            'margin-top': '0'
          });
        } else {
          $('.show-element').removeClass('show-element')
          $dropdownLabel.text('Go To Region');

          $('nav.fixed-top').css({
            'margin-top': '50px'
          });
        }
      });
    });
  </script>

</body>

</html>
